In [118]:
import pandas as pd
import numpy as np

# Display full column width (for the links)
pd.set_option('display.max_colwidth', None)

In [119]:
DF1 = pd.read_csv ('full_0_1999.csv',index_col=[0])
DF2 = pd.read_csv ('full_2000_2999.csv',index_col=[0])
DF3 = pd.read_csv ('full_3000_4999.csv',index_col=[0])
DF4 = pd.read_csv ('full_5000_6999.csv',index_col=[0])
DF5 = pd.read_csv ('full_7000_7990.csv',index_col=[0])

In [121]:
frames = [DF1, DF2, DF3, DF4, DF5]

result = pd.concat(frames).reset_index(drop=True)

result.drop(['Unnamed: 0.1'],axis=1,inplace = True)

result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7989 entries, 0 to 7988
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Tomatoes URL          7989 non-null   object
 1   Title                 7989 non-null   object
 2   Tomatometer           7989 non-null   object
 3   Year                  7989 non-null   int64
 4   N_Tomatometer         7989 non-null   int64
 5   tconst                7989 non-null   object
 6   isAdult               7989 non-null   int64
 7   runtimeMinutes        7989 non-null   object
 8   genres                7989 non-null   object
 9   averageRating         7989 non-null   float64
 10  numVotes              7989 non-null   int64
 11  BOM url               7989 non-null   object
 12  domestic              6315 non-null   object
 13  international         6315 non-null   object
 14  worldwide             6315 non-null   object
 15  domestic_distributor  5632 non-null   object
 16  domestic_opening      5097 non-null   object
 17  mpaa                  5194 non-null   object
 18  Genres                7984 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 1.2+ MB

## Clean final movies dataframe

In [168]:
df = result.copy()

df['Tomatometer'] = df['Tomatometer'].str[:-1]
df['Tomatometer'] = pd.to_numeric(df['Tomatometer'])

df['Year'] = pd.to_numeric(df['Year'])

df['N_Tomatometer'] = pd.to_numeric(df['N_Tomatometer'])

df['isAdult'] = pd.to_numeric(df['isAdult'])

df['runtimeMinutes'].replace(to_replace=r"\N", value=np.nan, inplace=True)
df['runtimeMinutes'] = pd.to_numeric(df['runtimeMinutes'])

df.drop(['genres'], axis = 1, inplace = True) # there's another column with more genres

df=df.replace('â€“', np.nan)

df['domestic']=df['domestic'].str.replace('$', '').str.replace(',', '')
df['domestic'] = pd.to_numeric(df['domestic'])

df['international']=df['international'].str.replace('$', '').str.replace(',', '')
df['international'] = pd.to_numeric(df['international'])

df['worldwide']=df['worldwide'].str.replace('$', '').str.replace(',', '')
df['worldwide'] = pd.to_numeric(df['worldwide'])

df['domestic_opening']=df['domestic_opening'].str.replace('$', '').str.replace(',', '')
df['domestic_opening'] = pd.to_numeric(df['domestic_opening'])

df['averageRating'] = pd.to_numeric(df['averageRating'])

df['numVotes'] = pd.to_numeric(df['numVotes'])

# Rename columns
df=df.rename(columns={"domestic": "Domestic_Gross", 
                   "international": "International_Gross", 
                   "worldwide": "Worldwide_Gross",
                   "domestic_distributor": "Domestic_Distributor",
                   "domestic_opening": "Domestic_Opening",
                   "mpaa": "MPAA_Rating",
                   "averageRating": "Average_Audience_Rating",
                   "numVotes": "Number_Audience_Votes"})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7989 entries, 0 to 7988
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Tomatoes URL             7989 non-null   object
 1   Title                    7989 non-null   object
 2   Tomatometer              7989 non-null   int64
 3   Year                     7989 non-null   int64
 4   N_Tomatometer            7989 non-null   int64
 5   tconst                   7989 non-null   object
 6   isAdult                  7989 non-null   int64
 7   runtimeMinutes           7965 non-null   float64
 8   Average_Audience_Rating  7989 non-null   float64
 9   Number_Audience_Votes    7989 non-null   int64
 10  BOM url                  7989 non-null   object
 11  Domestic_Gross           5362 non-null   float64
 12  International_Gross      4294 non-null   float64
 13  Worldwide_Gross          6315 non-null   float64
 14  Domestic_Distributor     5632 non-null   object
 15  Domestic_Opening         5097 non-null   float64
 16  MPAA_Rating              5194 non-null   object
 17  Genres                   7984 non-null   object
dtypes: float64(6), int64(5), object(7)
memory usage: 1.1+ MB

<ipython-input-168-076aff6b755b>:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['domestic']=df['domestic'].str.replace('$', '').str.replace(',', '')
<ipython-input-168-076aff6b755b>:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['international']=df['international'].str.replace('$', '').str.replace(',', '')
<ipython-input-168-076aff6b755b>:25: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['worldwide']=df['worldwide'].str.replace('$', '').str.replace(',', '')
<ipython-input-168-076aff6b755b>:28: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['domestic_opening']=df['domestic_opening'].str.replace('$', '').str.replace(',', '')

In [1]:
# Create new boolean columns for the movie genres
new_genres = df['Genres'].str.get_dummies('\n    \n        ')
df = df.join(new_genres)

df.info()

NameError: name 'df' is not defined

In [169]:
# Fill all unrated movies with string 'Unrated'
df['MPAA_Rating'] = df['MPAA_Rating'].fillna('Unrated')

# Create new boolean columns for MPAA ratings (or unrated)
MPAA = df['MPAA_Rating'].str.get_dummies(' ')
df = df.join(MPAA)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7989 entries, 0 to 7988
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Tomatoes URL             7989 non-null   object
 1   Title                    7989 non-null   object
 2   Tomatometer              7989 non-null   int64
 3   Year                     7989 non-null   int64
 4   N_Tomatometer            7989 non-null   int64
 5   tconst                   7989 non-null   object
 6   isAdult                  7989 non-null   int64
 7   runtimeMinutes           7965 non-null   float64
 8   Average_Audience_Rating  7989 non-null   float64
 9   Number_Audience_Votes    7989 non-null   int64
 10  BOM url                  7989 non-null   object
 11  Domestic_Gross           5362 non-null   float64
 12  International_Gross      4294 non-null   float64
 13  Worldwide_Gross          6315 non-null   float64
 14  Domestic_Distributor     5632 non-null   object
 15  Domestic_Opening         5097 non-null   float64
 16  MPAA_Rating              7989 non-null   object
 17  Genres                   7984 non-null   object
 18  G                        7989 non-null   int64
 19  NC-17                    7989 non-null   int64
 20  PG                       7989 non-null   int64
 21  PG-13                    7989 non-null   int64
 22  R                        7989 non-null   int64
 23  Unrated                  7989 non-null   int64
dtypes: float64(6), int64(11), object(7)
memory usage: 1.5+ MB

In [163]:
df.to_csv('data_for_analysis.csv')