In [26]:
import pandas as pd
import numpy as np


# Display full column width (for the links)
pd.set_option('display.max_colwidth', None)

In [27]:
def read_csvs(filelist):
    df = pd.DataFrame()
    for file in filelist:
        sub_df = pd.read_csv(file, index_col=[0])
        df = pd.concat([df,sub_df])
    return df

In [28]:
filelist = ['full_0_1999.csv', 'full_2000_2999.csv', 'full_3000_4999.csv', 'full_5000_6999.csv', 'full_7000_7990.csv']
df = read_csvs(filelist)
df

,Unnamed: 0.1,Tomatoes URL,Title,Tomatometer,Year,N_Tomatometer,tconst,isAdult,runtimeMinutes,genres,averageRating,numVotes,BOM url,domestic,international,worldwide,domestic_distributor,domestic_opening,mpaa,Genres
0,0,https://www.rottentomatoes.com/m/the_second,The Second,63%,2018,8,tt5636922,0,94,"Drama,Mystery,Thriller",4.9,317,https://www.boxofficemojo.com/title/tt5636922/,NaN,NaN,NaN,NaN,NaN,NaN,Drama\n \n Mystery\n \n Thriller
1,1,https://www.rottentomatoes.com/m/needle_in_a_timestack,Needle in a Timestack,34%,2021,48,tt7099280,0,111,"Drama,Fantasy,Romance",4.3,550,https://www.boxofficemojo.com/title/tt7099280/,NaN,NaN,NaN,NaN,NaN,R,Drama\n \n Fantasy\n \n Romance\n \n Sci-Fi
2,2,https://www.rottentomatoes.com/m/adventures_of_a_mathematician,Adventures of a Mathematician,50%,2020,10,tt6875374,0,102,"Biography,Drama",5.5,238,https://www.boxofficemojo.com/title/tt6875374/,–,"$1,275","$1,275",NaN,NaN,NaN,Biography\n \n Drama
3,3,https://www.rottentomatoes.com/m/de_gaulle,De Gaulle,40%,2020,10,tt10880402,0,108,"Biography,Drama,History",6.0,1207,https://www.boxofficemojo.com/title/tt10880402/,–,"$7,501,454","$7,501,454",NaN,NaN,NaN,Biography\n \n Drama\n \n History
4,4,https://www.rottentomatoes.com/m/the_estate_2021,The Estate,33%,2020,9,tt10740928,0,85,"Comedy,Thriller",4.4,204,https://www.boxofficemojo.com/title/tt10740928/,NaN,NaN,NaN,NaN,NaN,R,Comedy\n \n Thriller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,7984,https://www.rottentomatoes.com/m/maniac_cop,Maniac Cop,50%,1988,15,tt0095583,0,85,"Action,Crime,Horror",6.1,16065,https://www.boxofficemojo.com/title/tt0095583/,"$671,382",–,"$671,382",Shapiro-Glickenhaus Entertainment,NaN,NaN,Action\n \n Crime\n \n Horror\n \n Mystery
985,7985,https://www.rottentomatoes.com/m/devils_own,The Devil's Own,35%,1997,40,tt0118972,0,111,"Action,Crime,Drama",6.2,63336,https://www.boxofficemojo.com/title/tt0118972/,"$42,868,348","$97,939,199","$140,807,547",Sony Pictures Entertainment (SPE)See full company information\n\n,"$14,274,503",R,Action\n \n Crime\n \n Drama\n \n Thriller
986,7986,https://www.rottentomatoes.com/m/single_white_female,Single White Female,53%,1992,49,tt0105414,0,107,"Drama,Thriller",6.4,35357,https://www.boxofficemojo.com/title/tt0105414/,"$48,017,402",–,"$48,017,402",Columbia PicturesSee full company information\n\n,"$10,212,401",R,Drama\n \n Thriller
987,7987,https://www.rottentomatoes.com/m/high_school_high,High School High,19%,1996,16,tt0116531,0,86,"Comedy,Crime,Romance",5.5,13201,https://www.boxofficemojo.com/title/tt0116531/,"$21,302,121",–,"$21,302,121",Sony Pictures Entertainment (SPE)See full company information\n\n,"$6,311,786",PG-13,Comedy\n \n Crime\n \n Romance
988,7988,https://www.rottentomatoes.com/m/asphyx,The Asphyx,67%,1972,6,tt0069738,0,99,"Horror,Sci-Fi",6.3,2482,https://www.boxofficemojo.com/title/tt0069738/,NaN,NaN,NaN,NaN,NaN,NaN,Horror\n \n Sci-Fi

In [29]:
# drop a couple of columns that are not useful
df.drop(['Unnamed: 0.1'],axis=1,inplace = True)
df.drop(['genres'], axis = 1, inplace = True)

## Clean final movies dataframe

In [30]:
columns_to_clean = ['Tomatometer', 'Year', 'N_Tomatometer', 'isAdult', 'runtimeMinutes', 
                    'domestic', 'international', 'worldwide', 'domestic_opening', 
                    'averageRating', 'numVotes']

for column in columns_to_clean:
    if column == 'Tomatometer':
        df[column] = df[column].str[:-1]
    if column == 'runtimeMinutes':
        df[column].replace(to_replace=r"\N", value='', inplace=True)
    df=df.replace('–', np.nan)
    df[column] = df[column].astype(str)
    df[column] = df[column].str.replace('%', '')
    df[column] = df[column].str.replace('$', '')
    df[column] = df[column].str.replace(',', '')
    df[column] = pd.to_numeric(df[column], errors='coerce') # coerce to ignore NaN values

# Rename columns
df=df.rename(columns={"domestic": "Domestic_Gross", 
                   "international": "International_Gross", 
                   "worldwide": "Worldwide_Gross",
                   "domestic_distributor": "Domestic_Distributor",
                   "domestic_opening": "Domestic_Opening",
                   "mpaa": "MPAA_Rating",
                   "averageRating": "Average_Audience_Rating",
                   "numVotes": "Number_Audience_Votes"})

df.info()

/var/folders/3f/mz234sr94pz4c5bj6htds_100000gp/T/ipykernel_5830/3267240257.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[column] = df[column].str.replace('$', '')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7989 entries, 0 to 988
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Tomatoes URL             7989 non-null   object
 1   Title                    7989 non-null   object
 2   Tomatometer              7989 non-null   int64
 3   Year                     7989 non-null   int64
 4   N_Tomatometer            7989 non-null   int64
 5   tconst                   7989 non-null   object
 6   isAdult                  7989 non-null   int64
 7   runtimeMinutes           7965 non-null   float64
 8   Average_Audience_Rating  7989 non-null   float64
 9   Number_Audience_Votes    7989 non-null   int64
 10  BOM url                  7989 non-null   object
 11  Domestic_Gross           5362 non-null   float64
 12  International_Gross      4294 non-null   float64
 13  Worldwide_Gross          6315 non-null   float64
 14  Domestic_Distributor     5632 non-null   object
 15  Domestic_Opening         5097 non-null   float64
 16  MPAA_Rating              5194 non-null   object
 17  Genres                   7984 non-null   object
dtypes: float64(6), int64(5), object(7)
memory usage: 1.2+ MB

In [31]:
df.head()

,Tomatoes URL,Title,Tomatometer,Year,N_Tomatometer,tconst,isAdult,runtimeMinutes,Average_Audience_Rating,Number_Audience_Votes,BOM url,Domestic_Gross,International_Gross,Worldwide_Gross,Domestic_Distributor,Domestic_Opening,MPAA_Rating,Genres
0,https://www.rottentomatoes.com/m/the_second,The Second,63,2018,8,tt5636922,0,94.0,4.9,317,https://www.boxofficemojo.com/title/tt5636922/,NaN,NaN,NaN,NaN,NaN,NaN,Drama\n \n Mystery\n \n Thriller
1,https://www.rottentomatoes.com/m/needle_in_a_timestack,Needle in a Timestack,34,2021,48,tt7099280,0,111.0,4.3,550,https://www.boxofficemojo.com/title/tt7099280/,NaN,NaN,NaN,NaN,NaN,R,Drama\n \n Fantasy\n \n Romance\n \n Sci-Fi
2,https://www.rottentomatoes.com/m/adventures_of_a_mathematician,Adventures of a Mathematician,50,2020,10,tt6875374,0,102.0,5.5,238,https://www.boxofficemojo.com/title/tt6875374/,NaN,1275.0,1275.0,NaN,NaN,NaN,Biography\n \n Drama
3,https://www.rottentomatoes.com/m/de_gaulle,De Gaulle,40,2020,10,tt10880402,0,108.0,6.0,1207,https://www.boxofficemojo.com/title/tt10880402/,NaN,7501454.0,7501454.0,NaN,NaN,NaN,Biography\n \n Drama\n \n History
4,https://www.rottentomatoes.com/m/the_estate_2021,The Estate,33,2020,9,tt10740928,0,85.0,4.4,204,https://www.boxofficemojo.com/title/tt10740928/,NaN,NaN,NaN,NaN,NaN,R,Comedy\n \n Thriller

In [32]:
# save to pickle
df.to_pickle("prep_data.pkl")

In [34]:
# Create additional boolean columns for movie genres
df['Genres']=df['Genres'].str.replace('\n    \n        ', ',') # clean up newlines / spaces and replace with commas
dummy_genres = df['Genres'].str.get_dummies(',')
df = pd.concat([df, dummy_genres], axis=1)
df.shape

(7989, 43)

In [35]:
# Fill all unrated movies with string 'Unrated'
df['MPAA_Rating'] = df['MPAA_Rating'].fillna('Unrated')

# Create additional boolean columns for MPAA ratings (or unrated)
MPAA = df['MPAA_Rating'].str.get_dummies(' ')
df = pd.concat([df, MPAA], axis=1)
# df = df.join(MPAA)
df.shape

(7989, 49)

In [36]:
df.to_csv('data_for_analysis.csv')